@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

/* CABEÇALHO */

.cabecalho{
    max-width: 1170px;
    padding: 25px 0;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .navegacao .menu{
    display: flex;
}

.cabecalho .navegacao .menu .item{
    margin: 10px;
}

.cabecalho .navegacao .menu .item a{
    padding: 15px;
    transition: 0.3s ease-in-out;

}

.cabecalho .navegacao .menu .item a:hover{
    color: #ffffff;
    background-color: #1ED760;
}

@media(max-width: 624px){
    .cabecalho{
        justify-content: center;
    }

    .cabecalho .logo{
        margin-bottom: 30px;
    }

    .cabecalho .navegacao .menu .item a{
        font-size: calc(0.6em + 1vw);
    }
}

/* CABEÇALHO */


/* QUEM SOMOS */

.quem-somos{
    background-color: #2941AB;
}

.quem-somos .conteudo{
    display: flex;
    padding: 0 10%;
    align-items: center;
}

.quem-somos .conteudo .imagem{
    width: 60%
}

.quem-somos .conteudo .informacoes{
    width: 40%;
}

.quem-somos .conteudo .informacoes .titulo{
    font-size: 50px;
    color: #1ED760;
    margin-bottom: 20px;
}

.quem-somos .conteudo .informacoes .texto{
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
}

@media(max-width: 1200px){
    .quem-somos .conteudo{
        flex-direction: column;
        text-align: center;
        padding: 100px 20px;
    }
    
    .quem-somos .conteudo .imagem{
    display: none;
    }

    .quem-somos .conteudo .informacoes{
        width: 100%;
    }
}

/* QUEM SOMOS */

/* RODAPÉ */

.rodape{
    padding: 80px 0 20px 0;
}

.rodape .navegacao{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.rodape .redes-sociais{
    display: flex;
}

.rodape .redes-sociais a{
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 2px solid #111111;
    border-radius: 50%;
    width: 52px;
    padding: 9px;
    transition: 0.3s ease-in-out;
}

.rodape .redes-sociais a:hover{
    background-color: #1ED760;
}

.rodape .copyright{
    margin-top: 70px;
    text-align: center;
}

@media(max-width: 940px){
    .rodape .navegacao{
        justify-content: center;
    }

    .rodape .navegacao .logo{
        margin-bottom: 30px;
    }

    .rodape .navegacao .logo,
    .rodape .navegacao .redes-sociais{
        width: 100%;
        justify-content: center;
    }
}

/* RODAPÉ */